extends layout

block content
  canvas#container
  div#fullscreen-fade
  div#pop-up
    div.inner
        div.body
        a.close Close
  div#loader
    span.loading-text Fetching stars...
    div.inner
    