body {
    padding: 0px;
    margin:0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

canvas {
    width:100%;
    height:100%;
    background:rgba(0,0,0,1);
}

#fullscreen-fade {
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    background:rgba(220,220,220,0.8);
}
#loader {
    
}
#loader .inner {
    
}
#loader .loading-text {
    
}