doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/lib/jQuery.js')
    script(src='js/lib/_.js')
    script(src='js/lib/backbone.js')
    script(src='js/lib/three.js')
    
    script(src='js/models.js')
    script(src='js/collections.js')
    script(src='js/controllers.js')
    script(src='js/router.js')
    script(src='js/app.js')
  body
    block content